pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.20.0
scipy==1.13.0
scikit-learn==1.4.2
yfinance==0.2.37
pandas-ta==0.3.14b0
statsmodels==0.14.2
jupyter==1.0.0
ipywidgets==8.1.2